body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.main-heading{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.section-heading{
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
}

.h3{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
}

.link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: inherit;
}

.list {
  list-style-type: none;
}