.hero{
    background: #2E2F42;
    color: white;
    text-align: center;
}

.btn {
    color: white;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family:"Roboto", sans-serif;
    cursor: pointer;
}

.btn:hover{
    background-color: #404BBF;

}
.btn:focus{
    background-color: #404BBF;

}